<div class="home-component page page--dark">
    <div class="container">
        <div class="row">
            <h1 class="title">Mangled Word Puzzle</h1>
            <form name="$ctrl.formModel" class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <div class="alert alert-danger"
                     data-ng-show="$ctrl.formModel.nickname.$error.minlength || $ctrl.formModel.nickname.$error.maxlength">
                    <span>
                        <strong>Invalid Nickname</strong>
                        <br>
                        <span data-ng-show="$ctrl.formModel.nickname.$error.minlength">Minimum {{$ctrl.MIN_INPUT_LENGTH}} characters.</span>
                        <span data-ng-show="$ctrl.formModel.nickname.$error.maxlength">Max {{$ctrl.MAX_INPUT_LENGTH}}characters.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input name="nickname"
                           type="search"
                           class="form-control"
                           placeholder="{{::$ctrl.inputModel.placeholder}}"
                           data-ng-model="$ctrl.inputModel.nickname"
                           data-ng-minlength="$ctrl.MIN_INPUT_LENGTH"
                           data-ng-maxlength="$ctrl.MAX_INPUT_LENGTH"
                           data-ng-model-options="{ allowInvalid: true, debounce: 200, updateOn: 'blur' }"
                           autofocus
                    />
                </div>
                <action-bar action-bar-config="$ctrl.actionBarConfig"></action-bar>
            </form>
        </div>
    </div>
</div>