.home-component {
  input {
    height: 39px;
    border: 4px solid #e4e4e4;
  }

  input.form-control:focus {
    border-color: #e4e4e4;
  }

  .btn-link {
    margin-top: 26px;
    color: white;
  }
}