.highscore-component {
  .btn-back {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #5c6e7d;
    text-align: left;

    button {
      color: white;
    }
  }

  .table {
    > tr > td {
      padding: 18px 8px;
      font-size: 26px;
      text-align: right;
    }
    tr td {
      text-align: right;

      &:nth-child(2) {
        text-align: left;
      }
    }
  }

  .table-hover > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.12)
  }
}
